<% if !link.nil? %>
    <a href="<%= link %>">
<% end %>
<div class="avatar-name-details-container">
    <% if !pre_row.nil? %>
        <div class="pre-row"><%= pre_row %></div>
    <% end %>
    <% if size.nil? %>
        <div class="avatar-name-details-row">
    <% else %>
        <div class="avatar-name-details-row" style="height: <%= size %>px; border-radius: <%= size/2 %>px;">
    <% end %>
        <div class="avatar-name">
            <img class="avatar" height="<%= size - 4 %>" width="<%= size - 4 %>" src="<%= avatar %>"/>
            <div style="margin-left: 8px;"><%= name %></div>
        </div>
        <div class="details"><%= details %></div>
    </div>
</div>
<% if !!link %>
    </a>
<% end %>