<div class="leaderboard-leader">
    <div class="leader-place"><%= pre_row.is_a?(Integer) ? pre_row.ordinalize : pre_row %></div>
    <div class="leader-avatar-container">
        <% if pre_row == 1 %>
            <i class="fa fa-trophy first-place-icon"></i>
        <% end %>
        <img class="avatar" height="<%= size %>" width="<%= size %>" src="<%= avatar %>"/>
    </div>
    <div class="leader-title"><%= name %></div>
    <div class="leader-points"><%= details %></div>
</div>